@model tp6.Entidades.Pedido
@using 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <h4>Pedido</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Modificar" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NumeroPedido" class="control-label"></label>
                    <input asp-for="NumeroPedido" class="form-control" />
                    @*<span asp-validation-for="Id" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="Cliente" class="control-label"></label>
                    @*<input asp-for="Nombre" type="text" class="form-control" value="@Model.Nombre" />*@
                    @{Model.Cliente = new Cliente(); }
                    <select asp-for="Cliente.Id">
                        @foreach (var Cliente in Model.Cliente)
                        {
                            <option value="@Cliente.IdCliente">@Cliente.Nombre</option>
                        }
                    </select>

                </div>
                <div class="form-group">
                    <label asp-for="Direccion" class="control-label"></label>
                    <input asp-for="Direccion" class="form-control" value="@Model.Direccion" />

                </div>
                <div class="form-group">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control" value="@Model.Telefono" />

                </div>
                <div class="form-group">
                    <label asp-for="Activo" class="control-label"></label>
                    <input asp-for="Activo" class="form-control" value="@Model.Activo" />

                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
