@model IEnumerable<tp6.ViewModels.PedidoViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="AltaPedido">Create New</a>
</p>
<table class="embed-responsive-16by9" cellspacing="1.5" border="1">
    <thead>
        <tr class="border-dark">
            <th>
                @Html.DisplayNameFor(model => model.NumeroPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cadete.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="col-10">
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cadete.Nombre)
            </td>
            <td colspan="1">
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoPedido)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Tipo)
            </th>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.NumeroPedido }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.NumeroPedido })
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
